@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Playfair+Display:wght@400;500;700&display=swap");

$font-stack: "Playfair Display", serif !important;
$font-secondary: "Lato";

// Variables
$primary-color: #32a277;
$secondary-color: #e2536b;
$bg-color: #f5f7fa;
$dark: #3e4555;
$light-gray: #8d97ad;
$light: #f8f9fa;
$white: #fff;
$font-xl: 40px;
$font-sm: 16px;
$font-lg: 2.25rem;
$font-md: 1.688rem;

body {
  font-family: $font-stack;
  overflow-x: hidden;
  max-width: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

h1,
p {
  color: $dark;
}

button,
span {
  a,
  a:visited,
  a:hover {
    color: #fff;
    text-decoration: none !important;
  }
}

p {
  text-align: center;
  font-family: $font-secondary;
}

p button {
  margin: 0 auto;
  padding: 1em;
  display: block;
  margin-top: 0.5em !important;
}

span {
  margin: 0.6em;
  display: inline-block;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
