// Variables

// Color
$primary-color: #32a277;
$secondary-color: #e2536b;
$bg-color: #f5f7fa;
$dark: #3e4555;
$light-gray: #8d97ad;
$light: #f8f9fa;
$white: #fff;

// Font size
$font-xl: 2.5rem;
$font-sm: 1rem;
$font-lg: 2.25rem;
$font-md: 1.688rem;

// Font weight
$font-regular: 400;
$font-bold: 700;

// Font family
$font-primary: "Playfair Display", serif!important;
$font-secondary: 'Lato', sans-serif!important;

body {
  font-family: $font-primary;
  overflow-x: hidden;
  max-width: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

h1,
p {
  color: $dark;
}

button,
span {
  a,
  a:visited,
  a:hover {
    color: #fff;
    text-decoration: none !important;
  }
}

p {
  text-align: center;
}

p button {
  margin: 0 auto;
  padding: 1em;
  display: block;
  margin-top: 0.5em !important;
}

span {
  margin: 0.6em;
  display: inline-block;
}
