// Variables

// Color

$gray: #919191;
$dark: #414141;
$light-bg: #fff;
$accent-light: #D9B0E8;
$accent-dark: #5D4565;

$secondary: #5080EB;
$success: #45BB7F;

$border: #D9D9D9;


// Font size
$font-sm: 2.625rem;
$font-lg: 4.5rem;
$font-md: 3.25rem;
$font-xsm: 1.188rem;
$font-xxsm: 0.813rem;

// Font weight
$font-regular: 400;
$font-bold: 500;

// Font family
$font-primary: 'Fira Sans', sans-serif;

body {
  font-family: $font-primary;
  overflow-x: hidden;
  max-width: 100%;
}

html {
  overflow-x: hidden;
  max-width: 100%;
}

.font-large {
  font-size: $font-lg;
}

.font-medium {
  font-size: $font-md;
}


.btn.btn-light {
  background-color: $light-bg;
  border: 1px solid $dark;
}

.btn.btn-dark {
  background-color: $dark;
}