@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$enable-responsive-font-sizes: true;

.intro {
  padding-bottom: 80px;
  .container-fluid {
    position: relative;
  }
  .intro-effect {
    background-image: url("../img/effect.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 480px;
    height: 490px;
    position: absolute;
    left: 0;
  }
  .text-top {
    color: rgba(141, 151, 173, 1);
    font-family: $font-secondary;
  }
  .text-bottom {
    font-weight: $font-regular;
  }
  .headline {
    font-weight: $font-bold;
    margin: 100px 0;
  }
  .hero-content {
    position: relative;
    justify-content: flex-start;
    .hero-image {
      filter: drop-shadow(0px 16px 27px rgba(121, 128, 145, 0.361));
      width: 100%;
      max-width: 513px;
      z-index: 1;
    }
    .effect-round {
      position: absolute;
      z-index: -1;
      top: -89px;
      width: 100%;
      max-width: 552px;
    }
  }
}

.information-image {
    position: absolute;
    top: 83px;
    right: 137px;
}

.context {
  background-color: $bg-color;
  .title {
    color: $dark;
    margin-bottom: 100px;
    font-weight: $font-bold;
  }
  .subtitle {
    color: $dark;
    margin-bottom: 70px;
    font-weight: 300;
  }
  .stage {
    margin-bottom: 130px;
    .circle {
      width: 88px;
      height: 88px;
      color: $secondary-color;
      background-color: $white;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 30px;
      filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.102));
      .stage-number {
        font-weight: 600;
        font-family: $font-secondary;
        margin-bottom: 0;
      }
    }
    .stage-desc {
      font-family: $font-secondary;
      color: rgba(141, 151, 173, 1);
    }
  }
  form {
    input {
      display: none;
    }
    label {
      width: 277px;
      height: 87px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 4px solid $secondary-color;
      color: $secondary-color;
      border-radius: 8px;
      font-family: $font-secondary;
      font-weight: $font-bold;
      transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      &:hover {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
      }
    }
    .active {
      background-color: #32a277;
      border-color: #32a277;
      color: $white;
    }
    #send-btn {
      background: #32a277;
      border: none;
      color: rgba(255, 255, 255, 1);
      width: 159px;
      height: 44px;
      border-radius: 4px;
      font-family: $font-secondary;
      font-weight: $font-bold;
      margin-bottom: 70px;
      &:focus {
        outline: 0;
      }
    }
    .info {
      font-family: $font-secondary;
      color: rgba(141, 151, 173, 1);
      margin-top: 80px;
      margin-bottom: 70px;
    }
  }
  #warning {
    visibility: hidden;
    color: $secondary-color;
  }
  .slider-wrapper {
    .slider {
      .prev-arrow {
        left: -40px;
      }
      .next-arrow {
        right: -40px;
      }
      .slick-slide {
        img {
          display: block;
          width: 100%;
          height: 100%;
        }
        .slide-content {
          .slide-mask {
            width: 100%;
            height: 200px;
            position: absolute;
            bottom: 0;
            background: black;
            mask-image: -webkit-gradient(
              linear,
              left top,
              left bottom,
              from(rgba(0, 0, 0, 0)),
              to(rgba(0, 0, 0, 1))
            );
            -webkit-mask-image: -webkit-gradient(
              linear,
              left top,
              left bottom,
              from(rgba(0, 0, 0, 0)),
              to(rgba(0, 0, 0, 1))
            );
          }
          position: relative;
          .slide-desc {
            position: absolute;
            bottom: 0;
            color: rgba(255, 255, 255, 1);
            padding: 0 20px;
          }
          .slide-title {
            font-weight: $font-bold;
          }
          .slide-text {
            color: rgba(255, 255, 255, 1);
            font-family: $font-secondary;
            font-weight: $font-regular;
          }
        }
      }
      .arrow {
        color: $light-gray;
        transition: background-image 0.2s ease-in-out;
        -webkit-transition: background-image 0.2s ease-in-out;
        -moz-transition: background-image 0.2s ease-in-out;
        -o-transition: background-image 0.2s ease-in-out;
        cursor: pointer;
        font-size: $font-lg;
        z-index: 2;
        &:hover {
          color: $primary-color;
        }
      }
      .next-arrow {
        position: absolute;
        top: 50%;
      }

      .prev-arrow {
        position: absolute;
        top: 50%;
      }
    }
    .effect-container {
      height: 186px;
      position: relative;
      overflow: hidden;
      .slider-effect {
        width: 253px;
        height: 378px;
        background-image: url("../img/effect-bottom.png");
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.footer {
  padding: 40px 0;
  font-family: $font-secondary;
  color: $light-gray;
  p {
    color: $light-gray;
    font-family: $font-secondary;
  }
  .social-links {
    padding: 0;
    margin: 0;
    float: right;
    li {
      list-style: none;
      float: left;
      margin: 0 10px;
      background-color: $light;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      &:last-child {
        margin-right: 0;
      }
      a {
        i {
          color: $light-gray;
        }
      }
    }
  }
  .footer-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      a {
        color: $light-gray;
        font-family: $font-secondary;
      }
    }
  }
  .footer-link {
    color: $light-gray;
    font-family: $font-secondary;
  }
}

.slick-track {
  margin: 0 -10px;
}
.slick-slide {
  margin: 0 10px;
}

// Font responsiveness
.slide-title {
  @include font-size($font-md);
}
.headline {
  @include font-size($font-lg);
}
.text-sm {
  @include font-size($font-sm);
}
.text-md {
  @include font-size($font-md);
}
.stage-desc {
  @include font-size($font-sm);
}
.stage-number {
  @include font-size($font-lg);
}
label {
  @include font-size($font-xl);
}
.info {
  @include font-size($font-sm);
}
.slide-text {
  @include font-size($font-sm);
}
.footer-subtitle {
  @include font-size($font-sm);
}
.footer-list li a {
  @include font-size($font-sm);
}
.copyright {
  @include font-size($font-sm);
}
.footer-link {
  @include font-size($font-sm);
}
#send-btn {
  @include font-size(0.844rem);
}

// Layout
.container {
  max-width: 1280px;
}

.container-fluid {
  max-width: 1920px;
}

// Additional media queries

// Small devices
@media (max-width: 576px) {
  .social-links {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .intro {
    .hero-content {
      padding: 0 25px 0 25px;
      margin-top: 100px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-content {
    text-align: center;
  }
  .intro-text-content {
    padding-bottom: 100px;
  }
}

// Ipad Pro
@media only screen and (min-width: 1024px) and (max-width: 1366px) { 
  .intro {
    .hero-content {
      .hero-image {
        max-width: 400px;
      }
    }
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
  .intro {
    .intro-text-content {
      padding-right: 80px;
      .text-top {
        max-width: 665px;
      }
      .text-bottom {
        max-width: 665px;
      }
    }
    .hero-container {
      padding: 0 0 72px 0;
      .hero-content {
        .effect-round {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .intro .hero-content {
    justify-content: space-around;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1500px) {
  .intro {
    .hero-container {
      padding: 0 0 72px 0;
      .hero-content {
        justify-content: space-around;
        .effect-round {
          right: 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .slider-wrapper {
    padding: 0 40px;
  }
}

