@import "custom";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

body {
  font-family: $font-primary;
}

.card {
  border-radius: 10px;
  .card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .card-inner-content {
      display: flex;
      gap: 20px;
      .card-img-avatar {
        width: 60px;
        height: 60px;
      }
      .card-text-content {
        .card-title {
          font-size: $font-xsm;
        }
        .card-subtitle {
          font-size: $font-xxsm;
        }
        .card-text {
          font-size: 16px;
        }
        .card-link {
          font-size: 15px;
          font-weight: bold;
          color: $dark;
          text-decoration: none;
          &:hover {
            color: $accent-light;
          }
        }
      }
    }
  }
}
